body {
    background-image: url('fondo/circuito-tecnologico-azul-morado_73426-205.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 150rem;
}

*{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.tit {
    color: white;
    float: left;
    margin-left: 75px;
    font-size: 20px;
    text-shadow: 10px 10px 10px white;
}

.logo {
    float: left;
    margin-left: 30px;
    background-color: white;
    border-radius: 50px;
}

.bigbox {
   
    align-items: center;
    height: 186px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(77,86,200,0.1)
}

.imagen {
    width: 175px;
    height: 175px;
}

.botonlogin {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    background-color: white;
}

.boton {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 7px 5px #012D98;
    font-size: 25px;
    text-decoration: none;
}

.iconitos{
    width:50px;
    height:50px;
}

.iconitos1 {
    width: 95px;
    height: 95px;
}

.seccion {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size:45px;
}

.piepag {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    box-shadow: 7px 7px 20px 10px #012D98;
    color: white;
}

.piepag {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    box-shadow: 7px 7px 20px 10px #012D98;
    color: white;
}

.correo {
    color: white;
    text-decoration: none;
}

.link1:hover {
    color: blue;
    transition: color 199ms;
}

.link1 {
    color: #0995E2;
    text-decoration: underline;
}

.correo:hover {
    color: #FF8484;
    transition: color 199ms;
}

.link:hover {
    color: #FF8484;
    transition: color 199ms;
}

.caja1 {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 360px;
    text-align: center;
    margin-right: 10px;
    margin-left: 200px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
}

.caja2 {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 360px;
    text-align: center;
    margin-right: 10px;
    margin-left: 175px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
}

.caja3 {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 360px;
    margin-left: 560px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
    width:220px;
}

.box {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 230px;
}

.link {
    color: white;
    text-decoration: none;
    font-size:33px;
}

#Button1{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 6%;
    color: white;
    background: #0890DE;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 12px;
    margin-left: 25px;
}

#Button2{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 10%;
    color: white;
    background: #0890DE;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 12px;
    margin-left: 150px;
}