body {
    background-image: url('fondo/6071843.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 140rem;
}

* {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.parrafo1 {
    text-align: center;
    color: white;
}

.caja1 {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 360px;
    text-align: center;
    margin-right: 10px;
    margin-left: 200px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
}

.caja2 {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 360px;
    text-align: center;
    margin-right: 10px;
    margin-left: 175px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
}

.caja3 {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 360px;
    margin-left: 560px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
    width:220px;
}

.box {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 230px;
}

.imagen {
    width: 175px;
    height: 175px;
}

.tit {
    color: white;
    float: left;
    margin-left: 75px;
    font-size: 20px;
    text-shadow: 10px 10px 10px white;
}

.logo {
    float: left;
    margin-left: 30px;
    background-color: white;
    border-radius: 50px;
}

.bigbox {
    align-items: center;
    height: 186px;
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #39aff7;
}

.visionTitulo {
    text-decoration: underline;
    font-size:20px;
}

.misionTitulo {
    text-decoration: underline;
    font-size: 20px;
}

.valoresTitulo {
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

.encabezado {
    padding: 10px;
    box-shadow: 7px 7px 20px 10px #012D98;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    font-size: 17px;
}

.boton {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 7px 5px #012D98;
    font-size: 25px;
    text-decoration: none;
}

.link:hover {
    color: #FF8484;
    transition: color 199ms;
}

.link1:hover {
    color:red;
    transition: color 199ms;
}

.correo:hover {
    color: #FF8484;
    transition: color 199ms;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: white;
    text-decoration: none;
}

.link1 {
    color: black;
    text-decoration: none;
}

h1 {
    color: red;
    font-size: 50px;
}

.piepag {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    box-shadow: 7px 7px 20px 10px #012D98;
    color: white;
}

.correo {
    color: white;
    text-decoration: none;
}

.seccion {
    color: white;
    text-align: center;
    text-decoration: underline;
}


.botonlogin {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    background-color: white;
}

.iconitos{
    width:35px;
    height:35px;
}

.iconitos1 {
    width: 29px;
    height: 29px;
}
